<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
<div id="wbplayer"> </div>

</body>

<script type="text/javascript" src="//www.braincert.com/whiteboard/braincert-wb.js"></script>

<script type="text/javascript">
/*var bcwb=function(){return{init:function(e){e.width=parseInt(e.width);e.height=parseInt(e.height)
if(!e.width){e.width=1024;}
if(!e.height){e.height=730;}
if(!e.bgcolor)e.bgcolor='';if(!e.logo)e.logo='';e.bgcolor=e.bgcolor.replace('#','');window.onload=function(){document.getElementById("wbplayer").innerHTML='<iframe scrolling="no" src="http://www.braincert.com/whiteboard/bcwb.php?apiKey='+e.apiKey+'&height='+e.height+'&width='+e.width+'&bgcolor='+e.bgcolor+'&logo='+e.logo+'&t='+Math.random()+'" frameborder="0" id="mainFrame" name="mainFrame" height="'+(parseInt(e.height)+20)+'" width="'+(parseInt(e.width)+20)+'"></iframe>';}}};}();
*/
        bcwb.init({
            apiKey: 'P9N1wJzLNvb3K4Sq05HY',
            height:'730',
            width:'1024',
            bgcolor:'#FFF',
            logo:'https://www.braincert.org/images/bc-logo-bottom.png'
        });
       </script>

</html>